@{
    ViewData["Title"] = "Card Checker";
}

    <div style="width=70%;padding-top:50px">
        Here's the card checker, click the 'Tool' button above to begin.<br />
        <br />

        Some things to note: <br />
        The system supports adding and deleting credit cards; I've tried to get database seeding to work, but a lot of the online documentation is
        all over the place.
        <br /><br />
        Application forms are stored, and the system also has the ability to show multiple cards. However, I didn't have time to find out the best
        implementation for storing & showing one-to-many relationships in a reasonable manner, while maintaining accessibility. Therefore,
        cards that are shown have their ID stored as a string in the ApplicationForm class.
        <br /><br />
        I still need some time to get my head around using Dependency Injection, but I think I have a good idea of its' purpose.
        <br /><br />
        Thanks,        <br />
        Liam


    </div>

<div class="row">
</div>
