@{
    ViewData["Title"] = "Index";
}

<h2>Pre-qualification tool</h2>

<p>Please fill out the following fields:</p> 

<form asp-action="Result" asp-controller="CardSystem">
    <label>First Name:</label>
    <input type="text" name="FirstName" /><br />
    Last name:<br />
    <input type="text" name="LastName" /><br />
    Date of Birth:<br />
    <input type="date" name="DateOfBirth" /><br />
    Annual Income<br />
    <input type="text" name="Income" /><br />
    <input type="submit" />
</form>